* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(69, 77, 83);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

h1 {
    font-size: 4vw;
    background: linear-gradient(to right, rgb(206, 29, 29), rgb(59, 214, 214), rgb(202, 7, 85));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.upload-image {
    max-width: 600px;
    width: 90%;
    height: auto;
    background-color: rgb(81, 94, 107);
    border-radius: 50px;
    box-shadow: 2px 2px 10px black;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.inner-upload-image {
    width: 100%;
    height: 250px;
    background-color: rgb(21, 26, 32);
    border-radius: 50px;
    box-shadow: 2px 2px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.inner-upload-image:hover {
    box-shadow: inset 2px 2px 10px black;
    background-color: rgb(42, 51, 62);
}

#questionText {
    width: 90%;
    height: 100px;
    border-radius: 20px;
    border: none;
    padding: 15px;
    font-size: 18px;
    resize: none;
    outline: none;
    background-color: rgb(21, 26, 32);
    color: white;
    box-shadow: 2px 2px 10px black;
    transition: all 0.3s ease;
}

#questionText:hover {
    box-shadow: inset 2px 2px 10px black;
    background-color: rgb(42, 51, 62);
}

button {
    background-color: black;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 10px black;
}

button:hover {
    background-color: rgb(42, 51, 62);
    box-shadow: inset 2px 2px 10px black;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
    box-shadow: none;
}

#image {
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 50px;
}

.output {
    width: 90%;
    max-width: 80%;
    background-color: rgb(16, 20, 23);
    color: white;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    display: none;
    padding: 20px;
    overflow: auto;
}

#text {
    width: 100%;
    height: 100%;
}

#loading {
    margin-top: 30px;
    filter: drop-shadow(2px 2px 10px black);
    display: none;
}